PYANG compilation issue with type empty in an union

When compiling layer0-type-ext in PR #36 , PYANG provides these errors:

`
ietf-layer0-types-ext.yang:977: error: the type "empty" (defined at ietf-layer0-types-ext.yang:979) cannot be part of a union
`

When compiling the optical-impairment-topology in PR https://github.com/ietf-ccamp-wg/draft-ietf-ccamp-optical-impairment-topology-yang/pull/104 , PYANG does not complain

According to [section 9.12 of RFC7950](https://datatracker.ietf.org/doc/html/rfc7950#section-9.12), it seems valid to include a type empty in an union:

`
   A member type can be of any built-in or derived type.
`

The issue is caused by the fact that layer0-type-ext was not using YANG 1.1