Question from Julien during Last Call (Jan, 2022)

@ju7ien , @EstherLerouzic : there is a proposal to solve the issue you raised 
Proposal:
"In fact, section 3.1 of RFC8363 clarifies that:

From RFC8363   <...> Available
   central frequencies are advertised for m=1, which means that for an
   available central frequency n, the frequency slot from central
   frequency n-1 to central frequency n+1 is available

If we understand correctly, the proposal from Julien&Esther is to advertise the range of the available values of n for m=4 (50GHz)
We are wondering why not aligning the flexi-grid topology with the approach used in RFC8363 and to clarify that the available nominal central frequencies are correlated with m=1
We are also wondering whether this clarification should be provided in the flexi-grid I-D or in the layer0-types that defines the re-usable grouping used to describe the nominal central frequencies availability "

> We are wondering why not aligning the flexi-grid topology with the approach used in RFC8363 and to clarify that the available nominal central frequencies are correlated with m=1
That's clearly the (only) way to proceed. If already specified in an RFC, then we MUST be consistent. (m=4 was just a proposal to fill in the hole if any, certainly not meant to tweak an existing definition).

> We are also wondering whether this clarification should be provided in the flexi-grid I-D or in the layer0-types that defines the re-usable grouping used to describe the nominal central frequencies availability
The simple fact that we started this thread shows that it makes sens to remind this assumption in YANG topology I-Ds, all the more as many YANG module implementers know nothing about preexisting IETF protocols and associated definitions.
